.counts{
    margin: 0.8rem 0;
    color: var(--text-color);
}

.inputContainer{
    margin-bottom: 3rem;
}

@media screen and (min-width: 720px){
    .inputContainer{
        display: flex;
        justify-content: space-between;
    }
    .counts{
        flex: 1;
    }
    .input{
        flex: 2;
    }
}